{#
/**
 * Layout provider: flex-builder
 * Template suggestion: page
 * Theme: corolla
 * Generated on: Mon, 24 Sep 18 20:35:32 -0700
 */
#}
{{ attach_library('corolla/corolla.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
